
/* Page Title */

.barlow-regular {
    font-family: "Barlow", system-ui;
    font-weight: 400;
    font-style: normal;
}

.barlow-medium {
    font-family: "Barlow", system-ui;
    font-weight: 500;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", system-ui;
    font-weight: 600;
    font-style: normal;
}

.barlow-bold {
    font-family: "Barlow", system-ui;
    font-weight: 700;
    font-style: normal;
}

.barlow-extrabold {
    font-family: "Barlow", system-ui;
    font-weight: 800;
    font-style: normal;
}

.barlow-black {
    font-family: "Barlow", system-ui;
    font-weight: 900;
    font-style: normal;
}


/* Device Title */
.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  


/* Font */
.rubik-regular {
    font-family: "Rubik", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-medium {
    font-family: "Rubik", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.rubik-semibold {
    font-family: "Rubik", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.rubik-bold {
    font-family: "Rubik", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.rubik-black {
    font-family: "Rubik", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
